{{ define "main" }}

<!-- <br> -->
<script>
  var pagesnames = 'product';
  {{ if .Params.Variants }}
  var productids= null;
  var setsizeprice= null;
  var setsize= null;
  {{else}}
  var productids= "{{ .Params.ProductID }}";
  var setsizeprice= "{{ .Params.Price }}";
  var setsize= null;
  {{ end }}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/v1/Controllers/productController.js"></script>

<div class="container-fluid">
    
    <div class="row pgt-15">
      <div class="col-lg-4 col-md-4 col-12" style="padding-left: 6%;" id="img_paddint_left_6">
        {{ range first 1 .Params.Images }}
      
        <img
          src="{{ .image | absURL }}"
         class="img-fluid " alt="{{ .Title }}" style="width: 60%;" id="setsrcid">
        {{ end }}
        

        <div class="row pgt-15 justify_content_center">
            {{ range .Params.Images }}
            <div class="col-3 mouse-pointer" onclick="imagesetsrc('{{ .image | absURL }}')"><img
                src="{{ .image | absURL }}"
                class="img-fluid" alt="{{ .Title }}"></div>
            {{ end }}
          
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <h5 class="pgt-10"><b><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></b></h5>
        <h4>
            
            {{ if .Params.PriceBefore }}
            <span class="line-through f-878787">
            Rs.<span id="{{ .Params.ProductID }}{{ .Params.ProductID }}"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script>
            </span>
          </span>&nbsp;&nbsp;
            {{ end }}
            <span
            class="f-red">Rs.<span class="{{ .Params.ProductID }}"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span></span></h4>
        <br>
        <script>document.write(decodeURIComponent('{{ .Params.longdescription }}').replaceAll('+',' '))</script>
        {{ if .Params.Variants }}
        <h5 class="pgt-10">SIZE:</h5>
        <div class="row pm-15 element-active" data-productidsold="{{ .Params.ProductID }}">
            {{ range .Params.Variants }}
            <div class="col-lg-1 col-md-1 col-2" onclick="s_changePrice(this,'{{ .variant.ProductVariantID}}','{{ .variant.RetailPrice}}','{{ .variant.priceBefore}}','{{ .variant.Size }}')"><div class="rectangle-span text-center pgt-5 mouse-pointer"><span data-price="">{{ .variant.Size }}</span></div></div>
           
            {{ end }}
          
          </div>
        {{end}} 
        <div class="row mgt-15 pull-left">
          <!-- <div class="col-3 "><input type="number" name="" id=""
              class="form-control" style="width: 100%;"></div> -->
          <div class="col-3 col-mobile">
            {{ if .Params.Variants }}
            <button class="btn btn-{{ .Params.ProductID }} disabled btn-secondary btn-lg active
            b-000 fs-12" style="background-color: black;width: 100%;height:
            40px;"  onclick="checkpriceset(productids,{{ .Title }},{{ .Params.Description }},setsizeprice
                ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}',setsize);showul('mobile-cart');$('#mobile-search-modal').modal('show');">Add to cart</button>
           
            {{else}} 
            <button class="btn btn-secondary btn-lg active
            b-000 fs-12" style="background-color: black;width: 100%;height:
            40px;" onclick="Check(productids,{{ .Title }},{{ .Params.Description }},setsizeprice
              ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}','');showul('mobile-cart');$('#mobile-search-modal').modal('show');">Add to cart</button>
            
            {{end}} 
            
           </div>
          <!-- <div class="col-3">
            <button class="btn btn-secondary btn-lg active
              fs-12 b-transparent text-center" style="background-color:
              transparent;width: 60px;height: 40px;"><i class="fa fa-heart-o
                fs-20 pr-5 f-000" aria-hidden="true"></i></button>
        </div> -->
                <div class="mgt-20 col-lg-3 col-md-3 col-12 col-mobile-show">
                  
                  {{ if .Params.Variants }}
                  <button class="btn btn-{{ .Params.ProductID }} disabled btn-secondary btn-lg active
                  b-000 fs-12" style="background-color: black;width: 100%;height:
                  40px;" onclick="checkpriceset(productids,{{ .Title }},{{ .Params.Description }},setsizeprice
                ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}',setsize);showul('mobile-cart');$('#mobile-search-modal').modal('show');">Add to cart</button>

          
            {{else}} 
            <button class="btn btn-secondary btn-lg active
            b-000 fs-12" style="background-color: black;width: 100%;height:
            40px;" onclick="Check(productids,{{ .Title }},{{ .Params.Description }},setsizeprice
              ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}','');showul('mobile-cart');$('#mobile-search-modal').modal('show');">Add to cart</button>


            {{end}} 
                
                  
                </div>
          <div class="col-3 col-mobile">
              {{ if .Params.Variants }}

<button class="btn btn-{{ .Params.ProductID }} disabled btn-secondary btn-lg
active b-000 fs-12" style="background-color: black;width:
100%;height: 40px;" onclick="checkpriceset(productids,{{ .Title }},{{ .Params.Description }},setsizeprice
          ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}',setsize);checkoutbtc();">Buy it now</button>
      {{else}} 
      <button class="btn btn-secondary btn-lg
      active b-000 fs-12" style="background-color: black;width:
      100%;height: 40px;" onclick="Check(productids,{{ .Title }},{{ .Params.Description }},setsizeprice
        ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}','');checkoutbtc();">Buy it now</button>



      {{end}}
          </div>
          <!-- <div class="col-8 mgt-20 col-mobile">
          


            
              
            </div> -->
            
               <div class="mgt-20 col-lg-3 col-md-3 col-12 col-mobile-show">
                {{ if .Params.Variants }}
                <button class="btn btn-{{ .Params.ProductID }} disabled btn-secondary btn-lg
                active b-000 fs-12" style="background-color: black;width:
                100%;height: 40px;" onclick="checkpriceset(productids,{{ .Title }},{{ .Params.Description }},setsizeprice
          ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}',setsize);checkoutbtc();">Buy it now</button>


      {{else}} 

      <button class="btn btn-secondary btn-lg
      active b-000 fs-12" style="background-color: black;width:
      100%;height: 40px;" onclick="Check(productids,{{ .Title }},{{ .Params.Description }},setsizeprice
        ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}','');checkoutbtc();">Buy it now</button>



      {{end}} 



             
                
              
              </div>

          <div class="col-4">
          </div>
          <div class="col-12 mgt-20"><i class="fa fa-sitemap fs-30"
              aria-hidden="true"> Size Chart</i>
           
          </div>
          <div class="col-lg-2 col-md-2 col-4 mgt-30"><a href="javascript:;" onclick="$('#staticBackdropsize').modal('show');" class="f-000 fs-14 td-none"><b>Size
            Guide</b></a></div>
      <div class="col-lg-3 col-md-3 col-5 mgt-30 pull-left"><a href="#" class="f-000 fs-14 td-none"><b>Ask
            a Question</b></a></div>
            
        </div>

        {{$p_id :=.Params.ProductID }}
      </div>
    </div>

    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h3><b>Related products</b></h3>
      </div>
    </div>
    
    <div class="row">
        {{ range first 4 (where site.RegularPages "Description" .Params.Category) }}
                {{if eq $p_id .Params.ProductID}}

                {{else}}
                <script>
                    $('#relatedp').show();
                </script>
       <div class="col-lg-3 col-md-3 col-6 padding-10">
        <div class="card width-10-rem cardhover" style="border: unset;">
          <div class="cart_hover_prent">
            <a href="{{ .Permalink }}">
                {{ range first 1 .Params.Images }}
                
          <img
            src="{{ .image | absURL }}"
            class="card-img-top cart_hover_child" alt="">
            {{ end }}
        </a>
      </div>
        <h6 class="card-text"><h6><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h6><span
        class="price dib mb__5">
        <span class="cb fwn">
          {{ if .Params.PriceBefore }}
          <span style="text-decoration:line-through">Rs. <Span class="beprice{{ .Params.ProductID }}" style="padding-right: 2%;"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script></Span></span><span class="pipe_m_p"> |</span>
         
          {{ end }}
         
          </span>
        <span class="font_weight_bold" style="padding-left: 2%;">Rs.</span><span id="{{ .Params.ProductID }}" class="font_weight_bold"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
      </span>
      <br>
      </h6>
          <div class="btn_add align-self-center cardbtn col-mobile">
            <a href="{{ .Permalink }}">
            <button class="btn btn-primary btn-lg active b-000 fs-12
              qview-btn"
              style="background-color: black;width: 120px;height: 40px;"><span
                class="qview-hide"> Quick View</span><i class="fa fa-eye
                qview-show" aria-hidden="true"></i>
            </button></a>
            <br><br>
            
            <button class="btn btn-primary btn-lg active b-000 fs-12
              qshop-btn" data-bs-toggle="modal" data-bs-target="#newaddtocart{{ .Params.ProductID }}"
              style="background-color: black;width: 120px;height: 40px;"><span
                class="qshop-hide">Quick Shop</span> <i class="fa
                fa-shopping-cart qshop-show" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn_add-mobile align-self-center right-10
            col-mobile-show" data-bs-toggle="modal"
            data-bs-target="#newaddtocart{{ .Params.ProductID }}">
            <button class="btn-rounded-top-30 btn btn-primary btn-lg active
              b-000 fs-12"><i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            <br>
            <button class="btn-rounded-bottom-30 btn btn-primary btn-lg
              active b-000 fs-12"><i class="fa fa-shopping-cart"
                aria-hidden="true"></i>

            </button>
          </div>
        </div>
      </div>
      {{ end }}
                {{ end }}
    </div>
</div>



{{ range first 4 (where site.RegularPages "Description" .Params.Category) }}
{{if eq $p_id .Params.ProductID}}

{{else}}
      
<div class="modal fade" id="newaddtocart{{ .Params.ProductID }}" tabindex="-1" role="dialog"
aria-labelledby="modelTitleId" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered widht-25" role="document">
  <div class="modal-content">

    <div class="modal-body">
      <div class="row">
        <div class="col-4">
            {{ range first 1 .Params.Images }}
          <img style="width: 100%;"
            src="{{ .image | absURL }}"
            class="img-fluid" alt="">
            {{ end }}
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-10">
              <h6 class="pgt-10">
                <script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h6><span
                class="price dib mb__5">
                <span class="cb fwn">
                  {{ if .Params.PriceBefore }}
                  <span style="text-decoration:line-through">Rs. <Span class="beprice{{ .Params.ProductID }}" style="padding-right: 3%;"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script></Span></span><span class="pipe_m_p" style="margin-top: -1.1%;"> |</span>
                 
                  {{ end }}
                 
                  </span>
                <span class="font_weight_bold" style="padding-left: 2%;">Rs.</span><span id="{{ .Params.ProductID }}" class="font_weight_bold"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
              </span>
              <br>
              </h6>
            </div>
            <div class="col-2 fs-20" style="cursor: pointer;"
              onclick="$('#newaddtocart{{ .Params.ProductID }}').modal('hide');">X</div>
          </div>



        </div>
        <div class="col-12">
          {{ if .Params.Variants }}
            <br>
            <h6 class="text-center">Size: </h6>
            
            <span class="d-flex align-items-center justify-content-center">
              
              <span class="element-active-1" data-productidsold="{{ .Params.ProductID }}">
            {{ range .Params.Variants }}
            <span>
              <span class="dot text-center align-self-center f-fff mouse-pointer" data-priceBefore="{{ .variant.priceBefore}}" data-Sizevariant="{{ .variant.Size}}" data-ProductVariantID="{{ .variant.ProductVariantID}}" data-retailprice="{{ .variant.RetailPrice}}">{{ .variant.Size }}</span>
              </span>  
            {{ end }}
              </span>
            <br> <br> <br>
          </span>
            {{ end }}
          <div class="d-flex align-items-center justify-content-center">
           


          </div>
          {{ if .Params.Variants }}
          <button type="button" class="btn btn-secondary mgt-15 btn-{{ .Params.ProductID }} disabled"
style="width: 100%;"  title="Add To Cart" onclick="tempFunction(this,{{ .Title }},{{ .Params.Description }}
,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}');showul('mobile-cart');$('#mobile-search-modal').modal('show');$('#newaddtocart{{ .Params.ProductID }}').modal('hide');" title="PKR {{ .Params.Price }} ">ADD TO CART</button>
        
          {{else}}

<button type="button" class="btn btn-secondary mgt-15"
style="width: 100%;"  title="Add To Cart" onclick="Check({{ .Params.ProductID }},{{ .Title }},{{ .Params.Description }},{{ .Params.Price }}
,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}','');showul('mobile-cart');$('#mobile-search-modal').modal('show');$('#newaddtocart{{ .Params.ProductID }}').modal('hide');" title="PKR {{ .Params.Price }} ">ADD TO CART</button>
          {{ end }}
          
          
          <div class="d-flex align-items-center justify-content-center">
            <a href="{{ .Permalink }}" class="f-000 mgt-15">View full details <i
                class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
{{ end }}
{{ end }}


<div class="modal fade" id="staticBackdropsize" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 700px;">
    <div class="modal-content modal-lg">
      <div class="modal-header" style="justify-content: right !important;">
        <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
        <a class="close fs-25 td-none" href="javascript:;" onclick="$('#staticBackdropsize').modal('hide');" aria-label="Close" style="">
          <span aria-hidden="true">×</span>
        </a>
      </div>
      <div class="modal-body">
        <img src="https://v1.eralive.net/kurtamart/asset/images/size.jpeg" alt="" class="img-fluid">
      </div>
       
    </div>
  </div>
</div>
<script> $(document).ready(function(){ $('#setsrcid').imageZoom({zoom : 300}); }); </script>
<script src="/v1/Controllers/sizeController.js"></script>

{{ end }}
