<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <div class="modal-body ">
        
        <div class="d-flex align-items-center justify-content-center">
        <a href="/login" class="btn btn-secondary btn-lg active b-000 nonelogin" style="width: 40%;background-color: black;">Login</a>
        
      </div>
      <br><br>
      <div class="d-flex align-items-center justify-content-center">
        <a href="/register" class="btn btn-secondary btn-lg active b-000 noneregister" style="width: 40%;background-color: black;">Register
      </a>
    </div>
    
      </div>
       
    </div>
  </div>
</div>

<div class="modal fade" id="Logoutallow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle" style="font-size: 16px;"><b>Logged in</b></h5>
        <button type="button" class="btn-close qty_close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <br>
          <div style="text-align: center;"><p class="infoText">Logged in as <br>
              <span class="infoTextEmail"><b><span id="loggedname">Guest</span></b></span>
          </p>
          <br>
              <button type="button"class="btn btn-secondary btn-block" onclick="LogoutUser()">Log out</button>
      </div>
      </div>
     
    </div>
  </div>
</div>

<div class="container-fluid">
  <footer class="pgt-50 mgb-21">
      <div class="row pl-20">
        <div class="col-lg-3 col-md-3 col-12 mgb-20">
          <h6 class="text-uppercase font-weight-bold mb-4"
            onclick="showul('ul_customer_care_show')">Customer Care <i
              class="fa fa-plus pull-right col-mobile-show"
              aria-hidden="true"></i>
          </h6>
          <ul class="list-unstyled mb-0" id="ul_customer_care_show">
            <li class="mb-2 pm-10"><a href="/products?category=Boys" class="text-muted fs-16
                f-878787" style="text-decoration: unset;">Boys</a></li>
            <li class="mb-2 pm-10"><a href="/products?category=Mens" class="text-muted fs-16
                f-878787" style="text-decoration: unset;">Mens</a></li>
         
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-12 mgb-20">
          <h6 class="text-uppercase font-weight-bold mb-4"
            onclick="showul('categories_show')">Categories <i class="fa
              fa-plus pull-right col-mobile-show" aria-hidden="true"></i></h6>
          <ul class="list-unstyled mb-0" id="categories_show">
            <li class="mb-2 pm-10"><a href="/products?category=Boys" class="text-muted fs-16
                f-878787" style="text-decoration: unset;">Boys</a></li>
            <li class="mb-2 pm-10"><a href="/products?category=Mens" class="text-muted fs-16
                f-878787" style="text-decoration: unset;">Mens</a></li>
           
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-12 mgb-20">
          <h6 class="text-uppercase font-weight-bold mb-4"
            onclick="showul('useful_show')">Useful links <i class="fa fa-plus
              pull-right col-mobile-show" aria-hidden="true"></i></h6>
          <ul class="list-unstyled mb-0" id="useful_show">
            <li class="mb-2 pm-10"><a href="/contact" class="text-muted fs-16
                f-878787" style="text-decoration: unset;">About Us</a></li>
            <li class="mb-2 pm-10"><a href="/contact" class="text-muted fs-16
                f-878787" style="text-decoration: unset;">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-12 mgb-20">
          <h6 class="text-uppercase font-weight-bold mb-4"
            onclick="showul('getintouch_show')">Get in touch <i class="fa
              fa-plus pull-right col-mobile-show" aria-hidden="true"></i></h6>
          <ul class="list-unstyled mb-0" id="getintouch_show">
            <li class="mb-2 pm-10 d-none locatohide">
              <i class="fa fa-map-marker fs-20 f-878787" aria-hidden="true">
                <span class="location-text pl-10"></span>
                </i>
              </li>
                <a href="" class="mailtoc d-none td-none mailtohide">
            <li class="mb-2 pm-10"><i class="fa fa-envelope-o fs-20 f-878787 "
                aria-hidden="true" ><span class="email-text pl-10"></span></i></li>
                </a>

                <a href="" class="mobilecaon d-none td-none itemmobile">
            <li class="mb-2 pm-10"><i class="fa fa-phone fs-20 f-878787"
                aria-hidden="true">&nbsp;<span class="mobile-text pl-10"></span></i></li>
              </a>
                
            <li class="mb-2 pm-10">
              <a href="" class="facebook d-none td-none itemfb" target="_blank">
              <i class="fa fa-facebook fs-20 f-878787
                pl-7" aria-hidden="true"></i></a>

                <a href="" class="instagram d-none td-none iteminta" target="_blank">
              <i class="fa fa-instagram fs-20 f-878787 pl-20"
                aria-hidden="true"></i>
              </a>

              <a href="" class="twitter d-none td-none itemtw" target="_blank">
                <i class="fa fa-twitter fs-20 f-878787 pl-20"
                  aria-hidden="true"></i>
                </a>

                <a href="" class="youtube d-none td-none itemyt" target="_blank">
                  <i class="fa fa-youtube fs-20 f-878787 pl-20"
                    aria-hidden="true"></i>
                  </a>

                  <a href="" class="pinterest d-none td-none itempt" target="_blank">
                    <i class="fa fa-pinterest fs-20 f-878787 pl-20"
                      aria-hidden="true"></i>
                    </a>
              </li>
          </ul>
        </div>
      </div>
      <div class="row b-f6f6f8 pl-20">
        <div class="col-12 pgt-25">
          <p class="fs-14 f-878787">© 2022, by <a class="site-name text-upper td-none" href="https://turf.pk" target="_blank">Turf<span>.</span></a></p>
        </div>
      </div>

    </footer>
  </div>
  
  
  <div class="mobile-toolbar col-mobile-show positionfixed">
    <div class="row text-center ml-0 mgt-15">
      <div class="col-3">
        <a href="/products" class="td-none">
        <i class="fa fa-th-large fs-25" aria-hidden="true"></i>
        <p>Shop</p>
      </a>
      </div>
    
      <div class="col-3"> <span data-bs-toggle="modal" data-bs-target="#mobile-search-modal"
        onclick="showul('mobile-cart');"><i class="fa fa-shopping-cart fs-25 pr-5"
            aria-hidden="true"></i><span
            class="border-round text-center">0</span></span>
        <p>Cart</p>
      </div>
      <div class="col-3"><i class="fa fa-user fs-25" aria-hidden="true" onclick="$('#staticBackdrop').modal('show');"></i>
        <p>Account</p>
      </div>
      <div class="col-3">
        <span><a href="/tracker" class="td-none"><i class="fa fa-truck fs-25" aria-hidden="true"></i></a>
        </span>
        
        <p>Tracker</p>
      </div>
    </div>
  </div>
</body>

<script>
  var foternameallow = 'fotter';
</script>
<script src="https://v1.eralive.net/kurtamart/asset/slider.js"></script>
<script src="/v1/Controllers/cartController.js"></script>
<script src="/v1/Controllers/cardload.js"></script>

<script src="/v1/Controllers/homeController.js"></script>
<script src="/v1/Controllers/layoutsController.js"></script>

<script src="/v1/Controllers/headerController.js"></script>
<script src="/v1/Controllers/footerController.js"></script>
<script src="/v1/Controllers/verify.js"></script>
<script src="/v1/Controllers/dashboardController.js"></script>
<script src="/v1/Controllers/trackerController.js"></script>
<script src="/v1/Controllers/contactController.js"></script>
<script src="/v1/Controllers/checkoutController.js"></script>
<script src="/v1/Controllers/sizeController.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/v1/Controllers/sliderController.js"></script>


{{ "<!-- Google Maps API -->" | safeHTML }}
<script src="{{ site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}
<script src="https://controllers.eralive.net/plugins/jQuery/crypto-js.min.js"></script>
<!-- <script src="https://controllers.eralive.net/js/script.min.js"></script> -->

<script src="/v1/Controllers/accountController.js"></script>


<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/toasty.js"></script>

