
    <!-- End Google Tag Manager (noscript) -->
    <div id="bodytag"></div>
<script>
    if(tagmanager != '')
    {
     $('#bodytag').append('<noscript><iframe src="https://www.googletagmanager.com/ns.html?id='+tagmanager+'" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>');
    }
</script>
<div id="ec-overlay"><span class="loader_img"></span></div>
  

<div class="mobile-search b-ffffff float-right" id="mobile-search">
    <div class="row">
      <div class="col-12 mobile-side-col-10">
        <h6 class="f-222 pl-20" style="border-bottom: 1px solid
          rgba(129,129,129,.2);padding-bottom: 25px;padding-top: 25px;">SEARCH
          OUR SITE <i class="fa fa-times pull-right fs-20 pr-15"
            aria-hidden="true"
            onclick="showul('mobile-search');$('#mobile-search-modal').modal('hide');"></i></h6>
        <div class="text-search-engin d-flex align-items-center
          justify-content-center" style="border-bottom: 1px solid
          rgba(129,129,129,.2);padding-top: 25px;padding-bottom: 25px;">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>
  </div>
  <div class="mobile-cart b-ffffff float-right scrollbar" id="mobile-cart">
    <h6 class="f-222 pl-20"style="border-bottom: 1px solid
      rgba(129,129,129,.2);padding-bottom: 25px;padding-top: 25px;">SHOPPING
      CART <i class="fa fa-times pull-right fs-20 pr-15" aria-hidden="true"
        onclick="showul('mobile-cart');$('#mobile-search-modal').modal('hide');"></i></h6>
    <div class="row pgt-15 pl-15 force-overflow" id="product_Addid">
        
    

      <div class="col-12 fixed-div fixed-w">

      
        <div class="row">
          <div class="col-6"><p class="fs-20"><b>Subtotal:</b></p></div>
          <div class="col-6"><p class="fs-20">Rs.<span class="pricedonefotter"></span></p></div>
       <div class="col-12">
         <p class="f-878787">Taxes and shipping calculated at checkout</p>
       </div>
       <div class="col-12">
         <a href="/cart">
        <button class="btn btn-secondary btn-lg active
        fs-14 btns-90 b-f7f7f7 f-000-i">
        View cart
    </button>
  </a>
       </div>
       <div class="col-12 mgt-15">

        <button class="btn btn-secondary btn-lg active b-000-i
        fs-14 btns-90 btncheckdis disabled" onclick="checkoutbtc();">
        Check Out
    </button>

       </div>
      </div>
    </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="mobile-search-modal" onclick="showul(showulid);">
    <div class="modal-dialog">
      
    </div>
  </div>
  <div class="mobile-sidebar b-ffffff" id="mobile-sidebar" style="z-index: 1220;">
    <div class="row">
      <div class="col-10 mobile-side-col-10">
        <h6 class="text-center f-000 b-rgba0 align-self-center"
          style="border-bottom: 1px solid; padding-bottom: 15px;padding-top:
          15px;">Menu</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2 pm-10 pgt-10 b-b-rgba129 pl-20"><a href="/products?category=Boys"
              class="text-muted fs-16 f-878787" style="text-decoration:
              unset;">Boys
              <!-- <span
                class="b-01bad4 border-oval-mobile pl-7 pr-7">NEW</span> -->
              </a></li>
          <li class="mb-2 pm-10 pgt-10 b-b-rgba129 pl-20"><a href="/products?category=Mens"
              class="text-muted fs-16 f-878787" style="text-decoration:
              unset;">Mens</a></li>
    


        </ul>
      </div>
      <div class="col-2 fs-30 mobile-side-col-2 text-center"
        onclick="showul('mobile-sidebar');$('#mobile-search-modal').modal('hide');">
        <p>X</p>
      </div>
    </div>
  </div>


  <div class="container-fluid text-white b-f6f6f8 pgt-10 pm-10">
    <div class="row">
      <div class="col col-mobile">
        <span class="parmobile d-none">
         
        </span>
       
        <span class="paremail d-none">
         
        </span>
       
      </div>
      <div class="col f-878787 text-center">
        MID-SUMMER SALE DISCOUNT OFF <span class="f-red">50%</span>! <a
          href="/products" class="f-878787 td-none">SHOP NOW</a>
      </div>
      <div class="col col-mobile">

      </div>
    </div>
  </div>
  <div style="position: sticky;top: 0;z-index: 1000;">
  <div class="container-fluid text-white b-ffffff pgt-5 pm-5 border-t1">
    <div class="row pm-10 pgt-10">
      <div class="col f-878787 fs-14 align-self-center psssl-10">
        <span class="pl-10 col-mobile"> Free Delivery All Over Pakistan</span>
        <i class="fa fa-bars col-mobile-show fs-20" aria-hidden="true"
          onclick="showulid='mobile-sidebar';showul('mobile-sidebar');$('#mobile-search-modal').modal('show');"></i>

      </div>
      <div class="col f-878787 text-center">
        <div><a class="dib" href="/">
            <img
              src="{{ site.Params.logo | absURL }}"
              srcset="{{ site.Params.logo | absURL }}" alt="">
          </a>
        </div>
      </div>
      <div class="col f-878787 align-self-center" style="text-align: right;">
        <span><a href="/tracker" class="td-none"> <i class="fa fa-truck fs-20 pr-15 mouse-pointer" aria-hidden="true"></i>
        </a></span>
        <span class="col-mobile">
          <i class="fa fa-user fs-20 pr-15 mouse-pointer" onclick="$('#staticBackdrop').modal('show');" aria-hidden="true"></i>

      </span>

        <span data-bs-toggle="modal" data-bs-target="#mobile-search-modal"
          onclick="showul('mobile-cart');"><i class="fa fa-shopping-cart fs-20 mouse-pointer
            pr-5" aria-hidden="true"></i><span
            class="border-round text-center p_count mouse-pointer" id="">0</span></span>

      </div>
    </div>
  </div>
  <div class="container-fluid text-white b-ffffff col-mobile">
    <div class="row pgt-15">
      <div class="col-12 text-center">
        <a href="/products?category=Boys" class="f-878787 td-none fs-14 mgt-3">Boys
           <!-- <span
            class="b-01bad4 border-oval pl-7 pr-7">NEW</span> -->
          </a>
        <a href="/products?category=Mens" class="f-878787 td-none fs-14 mgt-3">Mens</a>
        <!-- <a href="/products" class="f-878787 td-none fs-14 mgt-3">Waist Coat</a>
        <a href="/products" class="f-878787 td-none fs-14 mgt-3">Prince Coat</a>
        <a href="/products" class="f-878787 td-none fs-14 mgt-3">Sale <span
            class="b-ff0000 border-oval-red pl-7 pr-7">HOT</span></a> -->
      </div>
    </div>


    <div class="row pgt-5">
      <div class="col-12 text-center  pgt-15 fs-12" style="box-shadow: 0 2px 5px -5px black;">
        <!-- <p class="fs-12">TODAY DEAL SALE OFF 70%. END IN 05 days 06:21:44.
          HURRY
          UP!!!</p> -->
      </div>
    </div>
  </div>
</div>
<body class="fs-12">
{{ "<!-- /navigation -->" | safeHTML }}