{{ define "main" }}
<script>
    var pagenames = "Cartpage";
  </script>

<div class="container-fluid">
    <div class="row pgt-50 b-878787 pm-50 mgt-15 mgb-100">
        <div class="col-12 text-center fs-20 f-fff">
            SHOPPING CART

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-mobile">
            <table class="table table-responsive">
                <thead class="">
                    <tr class="table-border">
                        <th class="boder-none">PRODUCT</th>
                        <th class="boder-none text-center">PRICE</th>
                        <th class="boder-none text-center" ><span style="padding-left: 15px;"></span>QUANTITY</th>
                        <th class="boder-none pull-right" style="visibility: hidden;">TOTAL</th>
                    </tr>
                    <tr>
                        <th class="boder-none" style="visibility:
                            hidden;" colspan="2">PRODUCT</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-12">
            <div class="row" id="tbodyload">
              <div class="col-12 text-center">
                <p style="margin-top: -15px;padding-bottom: 80px;padding-top: 110px; font-size: 18px;">Your cart is currently empty! <a href="/products" class="td-none td-underline-hover"> Continue Shopping</a> </p>
              </div>
                
            </div>
        </div>

        <div class="col-12 pgt-40 border-bottom">

        </div>
    </div>
    <div class="row pgt-50 pm-10">
        <div class="col-lg-6 col-md-6 col-12">

            <div class="mb-3">
                <!-- <label for="" class="form-label f-222 fs-16">Edit Order
                    Note</label>
                <textarea class="form-control" name="" id="" rows="4"></textarea> -->
            </div>
            <div class="mgt-30">
                <!-- <h6>Coupon:</h6>
                <span class="fs-14 f-878787">Coupon code will work on
                    checkout page</span> -->

                <!-- <input type="text" class="form-control mgt-15"
                    style="width: 50%;height: 40px;" placeholder=""> -->
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12 padding-50">
                    <h6 class="pull-auto-mobile fs-20"><strong>SUBTOTAL:</strong></h6>
                </div>

                <div class="col-lg-3 col-md-3 col-12"><h6
                        class="pull-auto-mobile fs-20">RS.<span id="t_amount"></span></h6></div>
                <div class="col-lg-12 col-md-3 col-12 pgt-15">
                    <h6 class="pull-auto-mobile fs-20"><strong>FREE DELIVERY</strong></h6>
                </div>
                <div class="col-lg-12 col-md-3 col-12 pgt-15"><button class="btn
                            btn-secondary
                            btn-lg active b-000
                            fs-14 pull-auto-mobile btns-100 btncheckdis disabled" onclick="$('#mobile-search-modal').modal('show');checkoutbtc();">
                            Check Out
                        </button>
                </div>
            </div>
        </div>
    </div>


  



</div>



{{ end }}