{{ define "main" }}
<script>
    var pagenames = "Cartpage";
  </script>

<div class="container-fluid">
    <div class="row pgt-50 b-878787 pm-50 mgt-15 mgb-100">
        <div class="col-12 text-center fs-20 f-fff">
            SHOPPING CART

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-mobile">
            <table class="table table-responsive">
                <thead class="">
                    <tr class="table-border">
                        <th class="boder-none">PRODUCT</th>
                        <th class="boder-none text-center">PRICE</th>
                        <th class="boder-none text-center">QUANTITY</th>
                        <th class="boder-none pull-right" style="visibility: hidden;">TOTAL</th>
                    </tr>
                    <tr>
                        <th class="boder-none" style="visibility:
                            hidden;" colspan="2">PRODUCT</th>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="col-12">
            <div class="row" id="tbodyload">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="row">
                        <div class="col-4 pull-right"><img
                                src="https://cdn.shopify.com/s/files/1/0586/8873/3344/products/957_2_120x.jpg?v=1633510672"
                                class="img-fluid" alt=""></div>
                        <div class="col-8 pgt-25-mobile">
                            <h6 class="mouse-pointer">Atlas Planet | KM-D657</h6>
                            <p>Size:<b>2Y</b></p>
                            <i class="fa fa-pencil-square-o fs-25 mgt-5
                                mouse-pointer" data-bs-toggle="modal"
                                data-bs-target="#newaddtocart"
                                aria-hidden="true"></i>
                            <i class="fa fa-trash-o fs-25 mouse-pointer"
                                aria-hidden="true"></i>
                            <div class="row col-mobile-show">
                                <div class="col-12">
                                    <p class="pgt-25"><span
                                            style="text-decoration:line-through;"
                                            class="fs-16">Rs.5,400.00</span>&nbsp;&nbsp;<span
                                            class="f-ff4e00 fs-16">Rs.2,700.00</span></p>
                                </div>
                                <div class="col-12">
                                    <input type="number" value="1"
                                        class="form-control"
                                        style="height: 50px; width: 30%;">
                                </div>
                                <div class="col-12">
                                    <h6 class="mgt-15 pr-11">Rs.2,700.00</h6>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="col-2 col-mobile">
                    <p class="pgt-25"><span
                            style="text-decoration:line-through;"
                            class="fs-16">Rs.5,400.00</span>&nbsp;&nbsp;<span
                            class="f-ff4e00 fs-16">Rs.2,700.00</span></p>
                </div>
                <div class="col-3 d-flex justify-content-center col-mobile
                    callfun-mobile"
                    style="padding-left:
                    82px;">
                    <input type="number" value="1" class="form-control
                        mgt-20" style="height: 50px; width: 30%;">
                </div>
                <div class="col-3 col-mobile">
                    <h6 class="pgt-25 pull-right pr-11">Rs.2,700.00</h6>

                </div>
                
            </div>
        </div>

        <div class="col-12 pgt-40 border-bottom">

        </div>
    </div>
    <div class="row pgt-50 pm-10">
        <div class="col-lg-6 col-md-6 col-12">

            <div class="mb-3">
                <!-- <label for="" class="form-label f-222 fs-16">Edit Order
                    Note</label>
                <textarea class="form-control" name="" id="" rows="4"></textarea> -->
            </div>
            <div class="mgt-30">
                <!-- <h6>Coupon:</h6>
                <span class="fs-14 f-878787">Coupon code will work on
                    checkout page</span> -->

                <!-- <input type="text" class="form-control mgt-15"
                    style="width: 50%;height: 40px;" placeholder=""> -->
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12 padding-50">
                    <h6 class="pull-auto-mobile fs-20"><strong>SUBTOTAL:</strong></h6>
                </div>

                <div class="col-lg-3 col-md-3 col-12"><h6
                        class="pull-auto-mobile fs-20">RS.<span id="t_amount"></span></h6></div>
                <div class="col-lg-12 col-md-3 col-12 pgt-15">
                    <h6 class="pull-auto-mobile fs-20"><strong>FREE DELIVERY</strong></h6>
                </div>
                <div class="col-lg-12 col-md-3 col-12 pgt-15"><a
                        href="javascript:void(0);"
                        onclick="checkoutbtc();"><button class="btn
                            btn-secondary
                            btn-lg active b-000
                            fs-14 pull-auto-mobile btns-100">
                            Check Out
                        </button></a>
                </div>
            </div>
        </div>
    </div>


  



</div>



{{ end }}