{{ define "main" }}
<script>
var pagenames = "Home";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- banner -->
{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}

<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->


    <!-- <ol class="carousel-indicators">
      <li data-bs-target="#demo" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#demo" data-bs-slide-to="1"></li>
      <li data-bs-target="#demo" data-bs-slide-to="2"></li>
    </ol> -->

    <!-- The slideshow/carousel -->
    <div class="carousel-inner" id="sliders_items_imgs">
     
    </div>

    <!-- Left and right controls/icons -->

  </div>


  <!-- Main Slider End -->
{{ end }}
{{ end }}
<!-- /banner -->
<div class="container-fluid">
    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h2>what are you looking for?</h2>
        <p class="fs-14">Mindfully crafted, our pieces sit on the crosswalk of
          style and comfort</p>
      </div>
    </div>
    <div class="row" style="padding: 2%;">
      <div class="col-lg-3 col-md-12 col-6" style="padding-right: 2%;">
        <div class="parent" onclick="" style="width: 100%;">
          <div class="child bg-one text-center">
            <button class="btn btn-primary btn-lg active b-000"
              style="margin-top: 99%;background-color: black;">SHALWAR KAMEEZ</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="parent" onclick="" style="width: 100%;height: 100%;">
          <div class="child bg-second text-center" style="">
            <button class="btn btn-primary btn-lg active b-000"
              style="margin-top: 90%;background-color: black;"><p>UPTO 50% OFF</p>
              <h4>NEW ARRIVALS</h4></button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6" style="padding-left: 2%;">

        <div class="parent" onclick="" style="width: 100%;">
          <div class="child bg-third text-center">
            <button class="btn btn-primary btn-lg active b-000"
              style="margin-top: 99%;background-color: black;">SHALWAR KAMEEZ</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h2>SEASON END SALE</h2>
        <p class="fs-14">flash sale more special deal off to 50% and free
          shipping</p>
      </div>
    </div>
    <div class="row">
        {{ range first 4 (where site.RegularPages "Description" "Boys") }}
      <div class="col-lg-3 col-md-3 col-6 padding-10">
        <div class="card width-10-rem cardhover" style="border: unset;">
            <a href="{{ .Permalink }}">
                {{ range first 1 .Params.Images }}
                
          <img
            src="{{ .image | absURL }}"
            class="card-img-top" alt="">
            {{ end }}
        </a>
          <p class="card-text"><h6><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h6><span
              class="price dib mb__5"><span class="cb fwn">from</span>
              Rs.<span id="{{ .Params.ProductID }}"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
            </span></p>
          <div class="btn_add align-self-center cardbtn col-mobile">
            <a href="{{ .Permalink }}">
            <button class="btn btn-primary btn-lg active b-000 fs-12
              qview-btn"
              style="background-color: black;width: 120px;height: 40px;"><span
                class="qview-hide"> Quick View</span><i class="fa fa-eye
                qview-show" aria-hidden="true"></i>
            </button></a>
            <br><br>
            
            <button class="btn btn-primary btn-lg active b-000 fs-12
              qshop-btn" data-bs-toggle="modal" data-bs-target="#newaddtocart{{ .Params.ProductID }}"
              style="background-color: black;width: 120px;height: 40px;"><span
                class="qshop-hide">Quick Shop</span> <i class="fa
                fa-shopping-cart qshop-show" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn_add-mobile align-self-center right-10
            col-mobile-show" data-bs-toggle="modal"
            data-bs-target="#newaddtocart{{ .Params.ProductID }}">
            <button class="btn-rounded-top-30 btn btn-primary btn-lg active
              b-000 fs-12"><i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            <br>
            <button class="btn-rounded-bottom-30 btn btn-primary btn-lg
              active b-000 fs-12"><i class="fa fa-shopping-cart"
                aria-hidden="true"></i>

            </button>
          </div>
        </div>
      </div>
   
      {{ end }}
    </div>

    <div class="row">
      <div class="col-12" style="background-image:
        url('https://cdn.shopify.com/s/files/1/0586/8873/3344/files/912_1_1296x.jpg?v=1631747005');background-size:
        cover;height: 500px;background-position: top;">
        <div class="pl-15 mobile-mt-50">


          <h1>DEAL OF THE DAY</h1>
          <h6>Years of experience brought about by our skilled craftsmen could
            ensure that every piece</h6>
            <a href="/products">
          <button class="btn btn-secondary btn-lg active b-000"
            style="background-color: black;">Shop Now <i class="fa
              fa-arrow-right" aria-hidden="true"></i>
          </button>
        </a>
        </div>
      </div>
    </div>

    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h2>what’s hot</h2>
        <p class="fs-14">most trending items for all days view</p>
      </div>
    </div>
    <div class="row">
      
        {{ range (where site.RegularPages "Description" "Boys") }}
        {{ $feature := true }}
        {{if (eq .Params.featured $feature)}}
        <div class="col-lg-3 col-md-3 col-6 padding-10">
          <div class="card width-10-rem cardhover" style="border: unset;">
              <a href="{{ .Permalink }}">
                  {{ range first 1 .Params.Images }}
                  
            <img
              src="{{ .image | absURL }}"
              class="card-img-top" alt="">
              {{ end }}
          </a>
            <p class="card-text"><h6><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h6><span
                class="price dib mb__5"><span class="cb fwn">from</span>
                Rs.<span id="{{ .Params.ProductID }}"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
              </span></p>
            <div class="btn_add align-self-center cardbtn col-mobile">
              <a href="{{ .Permalink }}">
              <button class="btn btn-primary btn-lg active b-000 fs-12
                qview-btn"
                style="background-color: black;width: 120px;height: 40px;"><span
                  class="qview-hide"> Quick View</span><i class="fa fa-eye
                  qview-show" aria-hidden="true"></i>
              </button></a>
              <br><br>
              
              <button class="btn btn-primary btn-lg active b-000 fs-12
                qshop-btn" data-bs-toggle="modal" data-bs-target="#newaddtocart{{ .Params.ProductID }}"
                style="background-color: black;width: 120px;height: 40px;"><span
                  class="qshop-hide">Quick Shop</span> <i class="fa
                  fa-shopping-cart qshop-show" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn_add-mobile align-self-center right-10
              col-mobile-show" data-bs-toggle="modal"
              data-bs-target="#newaddtocart{{ .Params.ProductID }}">
              <button class="btn-rounded-top-30 btn btn-primary btn-lg active
                b-000 fs-12"><i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <br>
              <button class="btn-rounded-bottom-30 btn btn-primary btn-lg
                active b-000 fs-12"><i class="fa fa-shopping-cart"
                  aria-hidden="true"></i>
  
              </button>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h2>Kurta Pyjama</h2>
        <p class="fs-14">New Arrivals</p>
      </div>
    </div>

    <div class="row featured-courses">
        {{ range (where site.RegularPages "Type" "products") }}
        <div class="col-lg-3 col-md-3 col-6 padding-10">
          <div class="card width-10-rem cardhover" style="border: unset;">
              <a href="{{ .Permalink }}">
                  {{ range first 1 .Params.Images }}
                  
            <img
              src="{{ .image | absURL }}"
              class="card-img-top" alt="">
              {{ end }}
          </a>
            <p class="card-text"><h6><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h6><span
                class="price dib mb__5"><span class="cb fwn">from</span>
                Rs.<span id="{{ .Params.ProductID }}"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
              </span></p>
            <div class="btn_add align-self-center cardbtn col-mobile">
              <a href="{{ .Permalink }}">
              <button class="btn btn-primary btn-lg active b-000 fs-12
                qview-btn"
                style="background-color: black;width: 120px;height: 40px;"><span
                  class="qview-hide"> Quick View</span><i class="fa fa-eye
                  qview-show" aria-hidden="true"></i>
              </button></a>
              <br><br>
              
              <button class="btn btn-primary btn-lg active b-000 fs-12
                qshop-btn" data-bs-toggle="modal" data-bs-target="#newaddtocart{{ .Params.ProductID }}"
                style="background-color: black;width: 120px;height: 40px;"><span
                  class="qshop-hide">Quick Shop</span> <i class="fa
                  fa-shopping-cart qshop-show" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn_add-mobile align-self-center right-10
              col-mobile-show">
              <a href="{{ .Permalink }}">
              <button class="btn-rounded-top-30 btn btn-secondary btn-lg active
                b-000 fs-12"><i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              </a>
              
              <br>
              
              <button class="btn-rounded-bottom-30 btn btn-secondary btn-lg
                active b-000 fs-12" data-bs-toggle="modal"
                data-bs-target="#newaddtocart{{ .Params.ProductID }}"><i class="fa fa-shopping-cart"
                  aria-hidden="true"></i>
  
              </button>
            </div>
          </div>
        </div>
      
        {{ end }}
    </div>

    <!-- <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h6>@ FOLLOW US ON INSTAGRAM</h6>
      </div>
    </div> -->
    <div class="row pgt-25">
      <div class="col-4 padding-0 instahover">

        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273440734_349043583741364_6236706333117955040_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=RNOLHp7F2okAX9iLgcJ&_nc_oc=AQl1nWrROhuklZMWyvxhiyOd2gHFnfUbr35-rS-DSBD18ZmYsN3BeI_jM1ZLWQaOzaA&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8EVKJftZdj4CyKtw83vE2vCouD_y8-I3co0SiD98EnZA&oe=62060130"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>


      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273473502_973775726909874_6859228140948008091_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=YMZRL6ErMDkAX8GGZv9&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT_4S37eC_pSF2AB5YkpqiAkw7Gs_uCb7FHSzIWYF6_aWg&oe=6205EF67"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273375482_1540547449647074_5699968392213105206_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=nqbBYKFwHIoAX_-OuFg&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT988dVXf8f-fIzdWDT097y3ugoxMS70IxPQuy7tSMgaBQ&oe=62065972"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273456260_1861675527361670_3881830818546770230_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=OzTaceNSZ8AAX-9cEBK&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT9aGEt3sV9vm-0Mt9YD2Ot0bS7kaFx3d3FxctGXjckwNw&oe=62070182"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273384076_505032440954225_7230402758788020783_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=ZfZJmHbXy0AAX9yO6gL&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8tEv4wZuRTpn3pK7XRAiqSGGzminX9LxagIYaJCOM75w&oe=62066B6F"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273462405_660562112026097_2672249943330845435_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=O_b3XmVi4H8AX8tkCJW&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT90PruucvaQLV2C84A7PSOjAayx4xRQWhwK9reioeLd1w&oe=62054474"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271030893_697789611594512_6408998957035346684_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=QOryYuQAS8YAX-dqN_T&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT885GlHqZEGle79LjQbD6G_GnKxpI0m1fv8Wi4f0YPeGQ&oe=6206A8F3"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273393765_297352028948072_998425062391174059_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=zt-Z5EtZXM0AX8IMZW9&_nc_oc=AQlBcvIha0tbnL79nlBwSEQtSLYAjCexs8-IxLxu1-YhLcNEWKVHjasnROBn4k8Oa-Q&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT_ueloQH3hhWfOkR5NQihhqSphdVrY3GgYlWuGnbBFILw&oe=6205A54E"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273128071_4845294968895083_6410147720463011248_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=3xi1xQ4VxOMAX-LNFhJ&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT_Kfj-v1jnR6Jn6uQvO8hb4BWsMuiPIOHVaufBDF_LtIg&oe=620704EF"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273245969_469363667896121_7212292472716254760_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=wuNyrN7sVRwAX_QoV_X&_nc_oc=AQkI3SgNTp6zq8zihlKValojLooZjp75xGkwbqTJuvSYAl59d1eN1H9OhX3cPctsGEs&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT-b6uMhb7RHQx4xrtCv0fMzL5iv0L5yTzbsp2xSdren0w&oe=62060532"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/273446846_1307715363035896_8437673332384312494_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=qIKlfcD2yfkAX-gvt1A&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT_KAzZAbrZl2dwsNb9Z1FZlzE8haYrMCnd3wsyxGFSqAA&oe=620610B8"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/272000246_424496106080864_3111308914252100985_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=MyFEinkuQQsAX8d_nkz&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT9BU_T8rc1B4D1MIlPBGxPMqs_3DsDBe4ZqO0EHTJSRXQ&oe=62055678"
          alt="">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
    </div>
    <div class="row pgt-50 pm-10">
      <div class="col-lg-6 col-md-6 col-12 pgt-70 pm-50 b-f6f6f8 pl-25">
        <h5>Subscribe + Get Free Express Shipping!</h5>
        <p class="fs-14">Sign up for emails and receive early access to new
          arrivals, sales, events + more.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-12 pgt-70 pm-50 b-f6f6f8">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-12 padding-0">
            <div class="input-group mb-3">
              <input type="text" style="height: 48px;" class="form-control
                b-f6f6f8" placeholder="Your email address">

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12">
            <button class="btn btn-secondary form-control btn-lg active b-000"
              style="background-color: black;">Subscribe</button>
          </div>
        </div>

      </div>
    </div>





  </div>
  


  {{ range (where site.RegularPages "Type" "products") }}
      
        <div class="modal fade" id="newaddtocart{{ .Params.ProductID }}" tabindex="-1" role="dialog"
        aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered widht-25" role="document">
          <div class="modal-content">
      
            <div class="modal-body">
              <div class="row">
                <div class="col-4">
                    {{ range first 1 .Params.Images }}
                  <img style="width: 100%;"
                    src="{{ .image | absURL }}"
                    class="img-fluid" alt="">
                    {{ end }}
                </div>
                <div class="col-8">
                  <div class="row">
                    <div class="col-10">
                      <h6 class="pgt-10">
                        <span style="margin-bottom:40px;"><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></span>
                        <br>
                        {{ if .Params.PriceBefore }}
                        <span style="text-decoration:line-through">Rs. <Span class="beprice{{ .Params.ProductID }}"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script></span></span>
                        {{ end }}
                        <br>
                        <span class="f-ff4e00">Rs. <Span class="price{{ .Params.ProductID }}"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></Span></span>
                      </h6>
                    </div>
                    <div class="col-2 fs-20" style="cursor: pointer;"
                      onclick="$('#newaddtocart{{ .Params.ProductID }}').modal('hide');">X</div>
                  </div>
      
      
      
                </div>
                <div class="col-12">
                  {{ if .Params.Variants }}
                  <br>
                  <h6 class="text-center">Size: </h6>
                  
                  <span class="d-flex align-items-center justify-content-center">
                     
                    <span class="element-active-1" data-productidsold="{{ .Params.ProductID }}">
                  {{ range .Params.Variants }}
                  <span class="mouse-pointer" onclick="changePrice(this,'{{ .variant.RetailPrice}}','{{ .variant.priceBefore}}')">
                  <span class="dot text-center align-self-center f-fff mouse-pointer" data-Sizevariant="{{ .variant.Size}}" data-ProductVariantID="{{ .variant.ProductVariantID}}" data-retailprice="{{ .variant.RetailPrice}}">{{ .variant.Size }}</span>
                  </span>  
                  {{ end }}
                    </span>
                  <br> <br> <br>
                </span>
                  {{ end }}
                  <div class="d-flex align-items-center justify-content-center">
                   
      
      
                  </div>
                  {{ if .Params.Variants }}
                  <button type="button" class="btn btn-secondary mgt-15"
     style="width: 100%;" title="Add To Cart" onclick="tempFunction(this,{{ .Title }},{{ .Params.Description }}
     ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}');showul('mobile-cart');$('#mobile-search-modal').modal('show');$('#newaddtocart{{ .Params.ProductID }}').modal('hide');" title="PKR {{ .Params.Price }} ">ADD TO CART</button>
                
                  {{else}}
  
     <button type="button" class="btn btn-secondary mgt-15"
     style="width: 100%;" title="Add To Cart" onclick="Check({{ .Params.ProductID }},{{ .Title }},{{ .Params.Description }},{{ .Params.Price }}
     ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}','');showul('mobile-cart');$('#mobile-search-modal').modal('show');$('#newaddtocart{{ .Params.ProductID }}').modal('hide');" title="PKR {{ .Params.Price }} ">ADD TO CART</button>
                  {{ end }}
                  
                  
                  <div class="d-flex align-items-center justify-content-center">
                    <a href="{{ .Permalink }}" class="f-000 mgt-15">View full details <i
                        class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
        {{ end }}


{{ end }}
