{{ define "main" }}
<script>
var pagenames = "Home";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- banner -->
{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}

<div id="sliders_items_imgs" class="sliders_items_imgs">
   
  </div>

  <!-- Main Slider End -->
{{ end }}
{{ end }}
<!-- /banner -->
<div class="container-fluid">
    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h2>Define Your Style With Our Elegant Outfits</h2>
        <p class="fs-14">Get the hold of the finest quality of fabrics to own your everyday look with elegance and comfort</p>
      </div>
    </div>
    <div class="row" style="padding: 2%;">
      <div class="col-lg-3 col-md-12 col-6" style="padding-right: 2%;">
          <div class="card width-10-rem cardhover" style="border: unset;">
            <div class="cart_hover_prent">
  
            
         
                  
            <img
              src="https://v1.eralive.net/asset/images/banner/1.jpg"
              class="card-img-top cart_hover_child" alt="" style="height: 100%;">
    
        </div>
         
            <div class="btn_add align-self-center btn_add_monile">
              <a href="/products">
              <button class="btn btn-primary btn-lg active b-000 fs-12"
                style="background-color: black;width: 100%;height: 40px;margin-top: 90%;">Finest Quality</span>
              </button>
           </a>
              
            
            </div>
          
          </div>
      
      </div>
      <div class="col-lg-6 col-md-12 col-12 order-md-0 order-2">
        <div class="card width-10-rem cardhover" style="border: unset;width: 100%;">
          <div class="cart_hover_prent">

          
       
                
          <img
            src="https://v1.eralive.net/asset/images/banner/3.jpg"
            class="card-img-top cart_hover_child" alt="">
  
      </div>
       
          <div class="btn_add align-self-center btn_add_monile">
            <a href="/products">
            <button class="btn btn-primary btn-lg active b-000 fs-12 mt_300p"
              style="background-color: black;width: 100%;height: 40px;">New Arrivals
            </button>
         </a>
            
          
          </div>
        
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6" style="padding-left: 2%;margin-bottom: 5%;">

          <div class="card width-10-rem cardhover" style="border: unset;">
            <div class="cart_hover_prent">
  
            
         
                  
            <img
              src="https://v1.eralive.net/asset/images/banner/1.jpg"
              class="card-img-top cart_hover_child" alt="" style="height: 100%;">
    
        </div>
         
            <div class="btn_add align-self-center btn_add_monile">
             <a href="/products">
              <button class="btn btn-primary btn-lg active b-000 fs-12"
                style="background-color: black;width: 100%;height: 40px;margin-top: 80%;"> Premium Fabrics
              </button>
            </a>
              
            
            </div>
          
          </div>
      
      </div>
    </div>
    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h2>Winter Clearance Sale</h2>
        <p class="fs-14">Get the best of winters with our winter clearance sale of upto 30% off with free shipping</p>
      </div>
    </div>
    <div class="row">
        {{ range first 4 (where site.RegularPages "Description" "Boys") }}
      <div class="col-lg-3 col-md-3 col-6 padding-10">
        <div class="card width-10-rem cardhover" style="border: unset;">
          <div class="cart_hover_prent">

          
            <a href="{{ .Permalink }}">
                {{ range first 1 .Params.Images }}
                
          <img
            src="{{ .image | absURL }}"
            class="card-img-top cart_hover_child" alt="">
            {{ end }}
        </a>
      </div>
        <h6 class="card-text"><h6><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h6><span
        class="price dib mb__5">
        <span class="cb fwn">
          {{ if .Params.PriceBefore }}
          <span style="text-decoration:line-through">Rs. <Span class="beprice{{ .Params.ProductID }}" style="padding-right: 2%;"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script></Span></span><span class="pipe_m_p"> |</span>
         
          {{ end }}
         
          </span>
        <span class="font_weight_bold" style="padding-left: 2%;">Rs.</span><span id="{{ .Params.ProductID }}" class="font_weight_bold"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
      </span>
      <br>
      </h6>
          <div class="btn_add align-self-center cardbtn col-mobile">
            <a href="{{ .Permalink }}">
            <button class="btn btn-primary btn-lg active b-000 fs-12
              qview-btn"
              style="background-color: black;width: 120px;height: 40px;"><span
                class="qview-hide"> View More</span><i class="fa fa-eye
                qview-show" aria-hidden="true"></i>
            </button></a>
            <br><br>
            
            <button class="btn btn-primary btn-lg active b-000 fs-12
              qshop-btn" data-bs-toggle="modal" data-bs-target="#newaddtocart{{ .Params.ProductID }}"
              style="background-color: black;width: 120px;height: 40px;"><span
                class="qshop-hide">Quick Shop</span> <i class="fa
                fa-shopping-cart qshop-show" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn_add-mobile align-self-center right-10
            col-mobile-show">
            <a href="{{ .Permalink }}">
            <button class="btn-rounded-top-30 btn btn-primary btn-lg active
              b-000 fs-12"><i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            </a>
            <br>
            <button class="btn-rounded-bottom-30 btn btn-primary btn-lg
              active b-000 fs-12" data-bs-toggle="modal"
              data-bs-target="#newaddtocart{{ .Params.ProductID }}"><i class="fa fa-shopping-cart"
                aria-hidden="true"></i>

            </button>
          </div>
        </div>
      </div>
   
      {{ end }}
    </div>

    <div class="row">
      <div class="col-12" style="background-image:
        url('https://cdn.shopify.com/s/files/1/0586/8873/3344/files/912_1_1296x.jpg?v=1631747005');background-size:
        cover;height: 500px;background-position: top;">
        <div class="pl-15 mobile-mt-50">


          <h1>DEAL OF THE DAY</h1>
          <h6>Years of experience brought about by our skilled craftsmen could
            ensure that every piece</h6>
            <a href="/products">
          <button class="btn btn-secondary btn-lg active b-000"
            style="background-color: black;">Shop Now <i class="fa
              fa-arrow-right" aria-hidden="true"></i>
          </button>
        </a>
        </div>
      </div>
    </div>

    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h2>Trending Now</h2>
        <p class="fs-14">Most featured products for everyday use</p>
      </div>
    </div>
    <div class="row featured-courses">
      
        {{ range (where site.RegularPages "Description" "Boys") }}
        {{ $feature := true }}
        {{if (eq .Params.featured $feature)}}
        <div class="col-lg-3 col-md-3 col-6 padding-10">
          <div class="card width-10-rem cardhover" style="border: unset;">
            <div class="cart_hover_prent ">
              <a href="{{ .Permalink }}">
                  {{ range first 1 .Params.Images }}
                  
            <img
              src="{{ .image | absURL }}"
              class="card-img-top cart_hover_child" alt="">
              {{ end }}
          </a>
          </div>
          <h6 class="card-text"><h6><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h6><span
          class="price dib mb__5">
          <span class="cb fwn">
            {{ if .Params.PriceBefore }}
            <span style="text-decoration:line-through">Rs. <Span class="beprice{{ .Params.ProductID }}" style="padding-right: 2%;"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script></Span></span><span class="pipe_m_p"> |</span>
           
            {{ end }}
           
            </span>
          <span class="font_weight_bold" style="padding-left: 2%;">Rs.</span><span id="{{ .Params.ProductID }}" class="font_weight_bold"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
        </span>
        <br>
        </h6>
            <div class="btn_add align-self-center cardbtn col-mobile">
              <a href="{{ .Permalink }}">
              <button class="btn btn-primary btn-lg active b-000 fs-12
                qview-btn"
                style="background-color: black;width: 120px;height: 40px;"><span
                  class="qview-hide"> View More</span><i class="fa fa-eye
                  qview-show" aria-hidden="true"></i>
              </button></a>
              <br><br>
              
              <button class="btn btn-primary btn-lg active b-000 fs-12
                qshop-btn" data-bs-toggle="modal" data-bs-target="#newaddtocart{{ .Params.ProductID }}"
                style="background-color: black;width: 120px;height: 40px;"><span
                  class="qshop-hide">Quick Shop</span> <i class="fa
                  fa-shopping-cart qshop-show" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn_add-mobile align-self-center right-10
              col-mobile-show">
              <a href="{{ .Permalink }}">
              <button class="btn-rounded-top-30 btn btn-primary btn-lg active
                b-000 fs-12"><i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </a>
              <br>
              <button class="btn-rounded-bottom-30 btn btn-primary btn-lg
                active b-000 fs-12" data-bs-toggle="modal"
                data-bs-target="#newaddtocart{{ .Params.ProductID }}"><i class="fa fa-shopping-cart"
                  aria-hidden="true"></i>
  
              </button>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h2>New Arrivals</h2>
        <p class="fs-14">Enliven the wardrobe of your little ones with our diverse range of ethnic outfits</p>
      </div>
    </div>

    <div class="row featured-courses">
        {{ range (where site.RegularPages "Type" "products") }}
        <div class="col-lg-3 col-md-3 col-6 padding-10">
          <div class="card width-10-rem cardhover" style="border: unset;">
            <div class="cart_hover_prent ">
              <a href="{{ .Permalink }}">
                  {{ range first 1 .Params.Images }}
                  
            <img
              src="{{ .image | absURL }}"
              class="card-img-top cart_hover_child" alt="">
              {{ end }}
          </a>
        </div>
            <h6 class="card-text"><h6><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></h6><span
                class="price dib mb__5">
                <span class="cb fwn">
                  {{ if .Params.PriceBefore }}
                  <span style="text-decoration:line-through">Rs. <Span class="beprice{{ .Params.ProductID }}" style="padding-right: 2%;"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script></Span></span><span class="pipe_m_p"> |</span>
                 
                  {{ end }}
                 
                  </span>
                <span class="font_weight_bold" style="padding-left: 2%;">Rs.</span><span id="{{ .Params.ProductID }}" class="font_weight_bold"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
              </span>
              <br>
            </h6>
            <div class="btn_add align-self-center cardbtn col-mobile">
              <a href="{{ .Permalink }}">
              <button class="btn btn-primary btn-lg active b-000 fs-12
                qview-btn"
                style="background-color: black;width: 120px;height: 40px;"><span
                  class="qview-hide"> View More</span><i class="fa fa-eye
                  qview-show" aria-hidden="true"></i>
              </button></a>
              <br><br>
              
              <button class="btn btn-primary btn-lg active b-000 fs-12
                qshop-btn" data-bs-toggle="modal" data-bs-target="#newaddtocart{{ .Params.ProductID }}"
                style="background-color: black;width: 120px;height: 40px;"><span
                  class="qshop-hide">Quick Shop</span> <i class="fa
                  fa-shopping-cart qshop-show" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn_add-mobile align-self-center right-10
              col-mobile-show">
              <a href="{{ .Permalink }}">
              <button class="btn-rounded-top-30 btn btn-primary btn-lg active
                b-000 fs-12"><i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              </a>
              
              <br>
              
              <button class="btn-rounded-bottom-30 btn btn-primary btn-lg
              active b-000 fs-12" data-bs-toggle="modal"
                data-bs-target="#newaddtocart{{ .Params.ProductID }}"><i class="fa fa-shopping-cart"
                  aria-hidden="true"></i>
  
              </button>
            </div>
          </div>
        </div>
      
        {{ end }}
    </div>


    <!-- <div class="row pgt-25 pm-10">
      <div class="col-12 pgt-40 text-center pm-10">
        <h6>@ FOLLOW US ON INSTAGRAM</h6>
      </div>
    </div> -->
    <!-- <div class="row pgt-25 d-none">
      <div class="col-4 padding-0 instahover">

        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/272109717_970802220216615_2140752477807923991_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=tvEcTwghx9gAX_gszZ3&_nc_oc=AQlPaUIBJ0c1CgsFLs7Q52wp4IpBKxMi7KPW7eY9V-VFcUfjNrLe3ge0-HMwgll0CbM&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT9q43ujO-rOTOV3Nfg0zFxyCAydbqXorshUmYapfzL7VQ&oe=61EAC26B"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>


      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/272036268_4635436749837149_1538842118713839312_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=YFhz-U8RC4IAX83HSMs&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT9lxWM6-R8xxuNq1mA5oSHgFMLryjXTNZZH-F14wg8Zug&oe=61EBC745"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271914463_356253085946012_7955566404269040513_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=bGaDO1O1tsMAX9ccTSy&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8k7BtuoCBuHb56Jo89x9FKXjWPO7HlOPdOYFAp5yBGdg&oe=61EA9F32"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/272075508_322369899792881_1463832787780331847_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=JnE0TBUl3FYAX8U_0Rv&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT_aULXK0A__7JBlzgHF66n55ZvnJBOQj6nEjV-BaTekSg&oe=61EC5941"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271962487_1011904009403331_9201890342319330664_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=pbs4YZu_qRwAX8rqZNd&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT85hMFtVd3gxahpIxAigPbrnexggt34zLaFthtqniUsaA&oe=61EBBAC6"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271908979_460529635542628_3292616077119309143_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=Nx-tMlnBe8AAX9SJQ_v&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT9RBlPlZpLuUwnlpXQ3SrIRjOQ9CKONc2Y0U66T01g5yA&oe=61EA95B8"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271907025_528569108191083_342241520381688166_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=XBC0nMRG7Y0AX_rTzLw&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8TgNUVbJnIEFRxzt04Xm4PFd1VcpzMW74w6I7XCU9Erg&oe=61EC13AE"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271902921_2104606086363317_8735509813216412958_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=xbeUVRsJFUoAX8TnbZA&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT91lhLKBAiwPCDa0eijZ5iKAU6d4mQoBSWbWSAQhM9IRw&oe=61EC49E7"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271880578_304418124961365_3036288844903209549_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=Nu0e8JYt2GQAX9IPhdb&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8Qd8TMx4UDSq3Yqn3V42CHruFyIphUUprciX2yS0HZ-g&oe=61EADEDF"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271500074_1180381476101141_6342429704360992659_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=3rYb4TGUtQYAX9L_esP&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8XyD-U9YiyzY046x0Wpmq2dKZRCMx1n_jPpE0m4fhieQ&oe=61EA8436"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271829450_411127367475177_7739945383983823350_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=ts-uQ9FX4fUAX9V81GJ&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8H1K3-s3XqU9mp-n8TfGGv4tG_kn8ZAxmXx_bnlFEtqA&oe=61EB0535"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <div class="col-4 padding-0 instahover">
        <img style="width: 100%;"
          src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/271858896_250792160525934_8399119098779364610_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=i64oGdXBk9EAX8WuyJP&_nc_oc=AQmlRWvj1XOxYsrCJxWb_LBTJT9EwQN3mpH_E-jMN3Xlfd9F8FrLfmYhymO8v822Bhs&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT-dmNLW0BO39wPzXWYT5phMVR2nYE31TcVTm1MX4QlOLQ&oe=61EC5431"
          alt="Black Eclipse | KM-D946b">
        <div class="overlay">
          <div class="text"><i class="fa fa-picture-o fs-25"
              aria-hidden="true"></i>
          </div>
        </div>

      </div>
    </div>
    <div class="row pgt-50 pm-10 d-none">
      <div class="col-lg-6 col-md-6 col-12 pgt-70 pm-50 b-f6f6f8 pl-25">
        <h5>Subscribe + get free express shipping!</h5>
        <p class="fs-14">Sign up for emails and receive early access to new arrivals, sales, events + more.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-12 pgt-70 pm-50 b-f6f6f8">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-12 padding-0">
            <div class="input-group mb-3">
              <input type="text" style="height: 48px;" class="form-control
                b-f6f6f8" placeholder="Your email address">

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12">
            <button class="btn btn-secondary form-control btn-lg active b-000"
              style="background-color: black;">Subscribe</button>
          </div>
        </div>

      </div>
    </div> -->





  </div>
  


  {{ range (where site.RegularPages "Type" "products") }}
      
        <div class="modal fade" id="newaddtocart{{ .Params.ProductID }}" tabindex="-1" role="dialog"
        aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered widht-25" role="document">
          <div class="modal-content">
      
            <div class="modal-body">
              <div class="row">
                <div class="col-4">
                    {{ range first 1 .Params.Images }}
                  <img style="width: 100%;"
                    src="{{ .image | absURL }}"
                    class="img-fluid" alt="">
                    {{ end }}
                </div>
                <div class="col-8">
                  <div class="row">
                    <div class="col-10">
                      <h6 class="pgt-10">
                        <span style="margin-bottom:40px; "><script>document.write(decodeURIComponent('{{ .Title }}').replaceAll('+',' '))</script></span>
                        <div style="margin-top: -10px;">
                        <span class="cb fwn">
                          <br>
                          {{ if .Params.PriceBefore }}
                          <span style="text-decoration:line-through;font-size: 12px;font-weight: 200;">Rs. <Span class="beprice{{ .Params.ProductID }}" style="padding-right: 2%;"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.PriceBefore }}')))</script></Span></span><span class="pipe_m_p_cart"> |</span>
                         
                          {{ end }}
                         
                          </span>
                        <span class="font_weight_bold" style="padding-left: 2%;">Rs.</span><span id="{{ .Params.ProductID }}" class="font_weight_bold"><script>document.write(new Intl.NumberFormat().format(parseFloat('{{ .Params.Price }}')))</script></span>
                      </span>
                    </div>
                      <br>
                      </h6>
                    </div>
                    <div class="col-2 fs-20" style="cursor: pointer;"
                      onclick="$('#newaddtocart{{ .Params.ProductID }}').modal('hide');">X</div>
                  </div>
      
      
      
                </div>
                <div class="col-12">
                  {{ if .Params.Variants }}
                  <br>
                  <h6 class="text-center">Size: </h6>
                  
                  <span class="d-flex align-items-center justify-content-center">
                     
                    <span class="element-active-1" data-productidsold="{{ .Params.ProductID }}">
                  {{ range .Params.Variants }}
                  <span>
                  <span class="dot text-center align-self-center f-fff mouse-pointer" data-priceBefore="{{ .variant.priceBefore}}" data-Sizevariant="{{ .variant.Size}}" data-ProductVariantID="{{ .variant.ProductVariantID}}" data-retailprice="{{ .variant.RetailPrice}}">{{ .variant.Size }}</span>
                  </span>  
                  {{ end }}
                    </span>
                  <br> <br> <br>
                </span>
                  {{ end }}
                  <div class="d-flex align-items-center justify-content-center">
                   
      
      
                  </div>
                  {{ if .Params.Variants }}
                  <button type="button" class="btn btn-secondary mgt-15 btn-{{ .Params.ProductID }} disabled"
     style="width: 100%;" title="Add To Cart" onclick="tempFunction(this,{{ .Title }},{{ .Params.Description }}
     ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}');showul('mobile-cart');$('#mobile-search-modal').modal('show');$('#newaddtocart{{ .Params.ProductID }}').modal('hide');" title="PKR {{ .Params.Price }} ">ADD TO CART</button>
                
                  {{else}}
  
     <button type="button" class="btn btn-secondary mgt-15"
     style="width: 100%;" title="Add To Cart" onclick="Check({{ .Params.ProductID }},{{ .Title }},{{ .Params.Description }},{{ .Params.Price }}
     ,{{ range first 1 .Params.Images }}{{ .image | absURL }}{{ end }},1,'{{ .Params.ProductID }}','');showul('mobile-cart');$('#mobile-search-modal').modal('show');$('#newaddtocart{{ .Params.ProductID }}').modal('hide');" title="PKR {{ .Params.Price }} ">ADD TO CART</button>
                  {{ end }}
                  
                  
                  <div class="d-flex align-items-center justify-content-center">
                    <a href="{{ .Permalink }}" class="f-000 mgt-15">View full details <i
                        class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
        {{ end }}


{{ end }}
